<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>achievement/b001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,927},{636,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{636,94}</string>
			</dict>
			<key>achievement/icontype1.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,579},{111,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,113}</string>
			</dict>
			<key>achievement/icontype2.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,895},{118,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,113}</string>
			</dict>
			<key>achievement/icontype4.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,472},{113,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,113}</string>
			</dict>
			<key>achievement/gem1.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,522},{69,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,60}</string>
			</dict>
			<key>achievement/gem2.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,523},{69,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,60}</string>
			</dict>
			<key>achievement/pet1000_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,523},{69,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,60}</string>
			</dict>
			<key>achievement/pet1000_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,555},{69,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,60}</string>
			</dict>
			<key>achievement/round.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,523},{64,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,67}</string>
			</dict>
			<key>achievement/best.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,923},{74,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,30}</string>
			</dict>
			<key>achievement/continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,802},{306,79}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,80}</string>
			</dict>
			<key>achievement/max.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,153},{69,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,30}</string>
			</dict>
			<key>item/selectuseitem.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,682},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>gameplaylayer/addleveleffect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,328},{142,153}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,168}</string>
			</dict>
			<key>gameplaylayer/bgscale1.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,883},{10,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,215}</string>
			</dict>
			<key>publicimg/timefighticon.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,213},{122,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,102}</string>
			</dict>
			<key>facebook_ad/flash_light_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{514,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{514,396}</string>
			</dict>
			<key>gameplaylayer/bubble2.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,883},{189,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,134}</string>
			</dict>
			<key>gameplaylayer/bubble3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,593},{254,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,134}</string>
			</dict>
			<key>publicimg/detailheadrectbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,424},{129,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,136}</string>
			</dict>
			<key>achievement/step5.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,317},{114,105}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,106}</string>
			</dict>
			<key>publicimg/detailrank1.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,923},{16,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,25}</string>
			</dict>
			<key>publicimg/detailrank2.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,950},{18,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,21}</string>
			</dict>
			<key>publicimg/detailrank3.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,999},{18,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,22}</string>
			</dict>
			<key>gameplaylayer/gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,343},{47,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,35}</string>
			</dict>
			<key>publicimg/detailrank.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,729},{488,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,33}</string>
			</dict>
			<key>achievement/btnreceive1.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,796},{116,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,77}</string>
			</dict>
			<key>timemodel/personbest.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,224},{117,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,17}</string>
			</dict>
			<key>itemlayer/selectbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,626},{55,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,56}</string>
			</dict>
			<key>timemodel/timemodelheadrect.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,673},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>pngdata/uieffect/achievementgem1.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,657},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>pngdata/uieffect/achievementgem2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,523},{86,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,66}</string>
			</dict>
			<key>pngdata/uieffect/backgroundlight1.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,1},{171,163}}</string>
				<key>offset</key>
				<string>{-9,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>pngdata/uieffect/brokenshelleggeffect10.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,555},{100,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,116}</string>
			</dict>
			<key>pngdata/uieffect/gifteffect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,279},{22,27}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,34}</string>
			</dict>
			<key>pngdata/uieffect/gifteffect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,999},{22,28}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,34}</string>
			</dict>
			<key>pngdata/uieffect/gifteffect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,802},{596,123}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{692,146}</string>
			</dict>
			<key>pngdata/uieffect/gifteffect4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,399},{450,122}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{543,145}</string>
			</dict>
			<key>pngdata/uieffect/gifteffect5.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,1},{799,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{799,94}</string>
			</dict>
			<key>pngdata/uieffect/gifteffect7.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,1},{150,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,52}</string>
			</dict>
			<key>pngdata/uieffect/live1.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,683},{57,52}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,60}</string>
			</dict>
			<key>pngdata/uieffect/losepng2.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,593},{183,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,132}</string>
			</dict>
			<key>pngdata/uieffect/winstart1.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,166},{165,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,161}</string>
			</dict>
			<key>pngdata/uieffect/winstart2.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,973},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>pngdata/uieffect/winstart3.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,380},{20,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,21}</string>
			</dict>
			<key>pngdata/uieffect/winstart4.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,303},{22,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,25}</string>
			</dict>
			<key>pngdata/uieffect/winstart5.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,252},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>pngdata/uieffect/winstart6.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,224},{26,26}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,31}</string>
			</dict>
			<key>gift/1007.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,523},{68,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,70}</string>
			</dict>
			<key>gift/1001.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,523},{68,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,70}</string>
			</dict>
			<key>sooninvite/qieye.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1},{210,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,110}</string>
			</dict>
			<key>sooninvite/qieye_.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,468},{212,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{212,112}</string>
			</dict>
			<key>sooninvite/star_di_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,895},{90,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,26}</string>
			</dict>
			<key>sooninvite/GET.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,399},{121,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,59}</string>
			</dict>
			<key>sooninvite/You-received-lives.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,1},{465,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{465,66}</string>
			</dict>
			<key>sooninvite/petcat.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,593},{70,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,82}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>csi1.png</string>
			<key>realTextureFileName</key>
			<string>csi1.png</string>
			<key>size</key>
			<string>{1024,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>