<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/playeffect/linebrokengrideffect001.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,932},{71,71}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>pngdata/playeffect/linebrokengrideffect002.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,932},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>pngdata/playeffect/linebrokengrideffect003.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,932},{69,69}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>pngdata/playeffect/linebrokengrideffect004.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,932},{71,71}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>pngdata/playeffect/linebrokengrideffect005.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,730},{73,73}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>pngdata/playeffect/linebrokengrideffect006.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,653},{75,75}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>pngdata/playeffect/linebrokengrideffect007.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,572},{79,79}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>pngdata/playeffect/linebrokengrideffect008.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,487},{83,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>pngdata/playeffect/linebrokengrideffect010.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,305},{91,91}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>pngdata/playeffect/linebrokengrideffect011.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,207},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>pngdata/playeffect/linebrokengrideffect012.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,106},{99,99}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>pngdata/playeffect/linebrokengrideffect009.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,398},{87,87}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>pngdata/playeffect/linebrokengrideffect013.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,1},{103,103}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>pngdata/playeffect/bombeffect001.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,761},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
			<key>pngdata/playeffect/bombeffect002.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,296},{231,247}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
			<key>pngdata/playeffect/bombeffect003.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,343},{330,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
			<key>pngdata/playeffect/bombeffect004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,343},{334,340}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
			<key>pngdata/playeffect/bombeffect005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{336,340}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
			<key>pngdata/playeffect/bombeffect006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,685},{336,336}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
			<key>pngdata/playeffect/bombeffect007.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,1},{296,322}}</string>
				<key>offset</key>
				<string>{-8,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
			<key>pngdata/playeffect/bombeffect008.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,1},{281,293}}</string>
				<key>offset</key>
				<string>{-8,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
			<key>pngdata/playeffect/bombeffect009.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,680},{266,250}}</string>
				<key>offset</key>
				<string>{-4,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
			<key>pngdata/playeffect/bombeffect010.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,529},{243,230}}</string>
				<key>offset</key>
				<string>{4,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,384}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameplayeffect4.png</string>
			<key>realTextureFileName</key>
			<string>gameplayeffect4.png</string>
			<key>size</key>
			<string>{1024,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>