<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gameplaylayer/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,1},{504,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{504,106}</string>
			</dict>
			<key>gameplaylayer/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,692},{154,84}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,87}</string>
			</dict>
			<key>gameplaylayer/btnnextLevel.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,950},{72,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,76}</string>
			</dict>
			<key>gameplaylayer/item5.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,507},{100,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,127}</string>
			</dict>
			<key>gameplaylayer/start.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,723},{49,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>gameplaylayer/closebtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,533},{106,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,119}</string>
			</dict>
			<key>gameplaylayer/btnrplay.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,617},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>
			<key>gameplaylayer/choosetool.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,613},{396,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{396,77}</string>
			</dict>
			<key>gameplaylayer/win20.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,709},{52,54}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>gameplaylayer/win25.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,723},{52,51}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>gameplaylayer/gas1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,623},{83,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,80}</string>
			</dict>
			<key>gameplaylayer/lvplate.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,245},{128,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,155}</string>
			</dict>
			<key>gameplaylayer/newbieguidelayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,1},{429,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{429,242}</string>
			</dict>
			<key>gameplaylayer/progress.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,432},{113,215}}</string>
				<key>offset</key>
				<string>{-49,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,236}</string>
			</dict>
			<key>gameplaylayer/progressbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,779},{236,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,236}</string>
			</dict>
			<key>gameplaylayer/scorebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,547},{105,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,46}</string>
			</dict>
			<key>gameplaylayer/starbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,321},{33,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>gameplaylayer/youlose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,779},{490,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{490,167}</string>
			</dict>
			<key>gift/1009.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,393},{68,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,70}</string>
			</dict>
			<key>gift/1010.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,463},{68,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,70}</string>
			</dict>
			<key>gameselectlayer/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,948},{194,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,62}</string>
			</dict>
			<key>gameselectlayer/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,723},{50,42}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>gameselectlayer/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,432},{34,35}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>gameselectlayer/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,615},{106,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,119}</string>
			</dict>
			<key>gameselectlayer/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{624,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{624,242}</string>
			</dict>
			<key>gameselectlayer/level.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,613},{161,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,57}</string>
			</dict>
			<key>gameselectlayer/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,321},{456,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{456,9}</string>
			</dict>
			<key>gameselectlayer/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,705},{59,56}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>gameselectlayer/t1.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,950},{136,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,54}</string>
			</dict>
			<key>gameselectlayer/t2.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,709},{55,50}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>item/1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,245},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>item/1001.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,245},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>item/1002.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,369},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>item/1003.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,369},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>item/1004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,375},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>item/1006.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,493},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>item/1007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,499},{122,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,126}</string>
			</dict>
			<key>sooninvite/anniu_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,245},{366,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{366,118}</string>
			</dict>
			<key>sooninvite/anniu_ph.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,692},{146,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,77}</string>
			</dict>
			<key>sooninvite/anniu_ph_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,245},{146,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,77}</string>
			</dict>
			<key>sooninvite/anniu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,948},{152,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,64}</string>
			</dict>
			<key>sooninvite/anniu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,948},{218,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,66}</string>
			</dict>
			<key>sooninvite/diban_9gg.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,493},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>sooninvite/Friends.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,776},{156,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,53}</string>
			</dict>
			<key>sooninvite/Invite-more-friends.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,1},{318,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{318,40}</string>
			</dict>
			<key>sooninvite/jiantou_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,386},{29,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,24}</string>
			</dict>
			<key>sooninvite/jiantou_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,355},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,29}</string>
			</dict>
			<key>gameplaylayer/win3.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,705},{53,53}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>achievement/btnreceive2.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,692},{116,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,77}</string>
			</dict>
			<key>achievement/achivementx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,547},{82,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,47}</string>
			</dict>
			<key>gameselectlayer/achievementicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,654},{105,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,98}</string>
			</dict>
			<key>sooninvite/liveadd1.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,779},{194,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,169}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameplaylayer2.png</string>
			<key>realTextureFileName</key>
			<string>gameplaylayer2.png</string>
			<key>size</key>
			<string>{1024,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>