<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/gridskin/egg1effect001.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,533},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect002.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,610},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect003.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,533},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect004.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,687},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect005.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,610},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect006.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,764},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect007.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,687},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect008.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,841},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect009.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,764},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect010.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,918},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect011.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,841},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect012.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,918},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect013.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,238},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect014.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,379},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect015.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,456},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect016.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,894},{73,75}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect017.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,739},{78,75}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect018.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,533},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect019.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,610},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect020.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,687},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect021.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,764},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect022.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,379},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect023.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,641},{90,85}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect024.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,820},{111,104}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect025.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,704},{114,102}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect026.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,641},{96,91}}</string>
				<key>offset</key>
				<string>{3,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect027.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,933},{95,83}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect028.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,905},{70,82}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect029.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,456},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect030.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,533},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect031.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,610},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect032.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,687},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect033.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,379},{70,77}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect034.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,841},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect035.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,764},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect036.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,918},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect037.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,841},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect038.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,918},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect039.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,1},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect040.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,78},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect041.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,155},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect042.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,232},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg1effect043.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,378},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/grid17png0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,1},{69,70}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>pngdata/gridskin/grid17png0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,73},{69,70}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>pngdata/gridskin/grid17png0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,145},{69,70}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>pngdata/gridskin/grid17png0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,217},{69,70}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>pngdata/gridskin/grid17png0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,289},{69,70}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>pngdata/gridskin/grid17png0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,361},{69,70}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>pngdata/gridskin/grid17png0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,433},{69,70}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>pngdata/gridskin/grid17png0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,505},{69,70}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>pngdata/gridskin/grid17png0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,577},{69,70}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>pngdata/gridskin/grid17png0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,455},{69,75}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>pngdata/gridskin/grid17png0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,485},{71,77}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>pngdata/gridskin/grid17png0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,739},{75,80}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>pngdata/gridskin/grid17png0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,942},{81,82}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>pngdata/gridskin/grid17png0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,733},{83,82}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>pngdata/gridskin/grid17png0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,649},{69,70}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,205},{66,64}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,931},{67,69}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,1},{66,70}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,863},{66,71}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,309},{67,71}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,936},{66,71}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,1},{66,70}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,931},{67,69}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,1},{66,70}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,863},{66,71}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,721},{67,71}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,794},{67,70}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,70},{67,68}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,139},{66,66}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,315},{66,62}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,1},{67,64}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,207},{66,65}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,209},{66,67}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,69},{66,65}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,136},{66,64}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,343},{66,64}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,69},{68,65}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,1},{70,66}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,137},{66,65}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,315},{62,67}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,69},{65,65}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,140},{67,67}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,278},{67,66}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,275},{66,65}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,411},{66,64}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid25png0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,942},{77,83}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/walleffect001.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,818},{74,74}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,151}</string>
			</dict>
			<key>pngdata/gridskin/walleffect002.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,935},{94,87}}</string>
				<key>offset</key>
				<string>{0,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,151}</string>
			</dict>
			<key>pngdata/gridskin/walleffect003.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,531},{108,101}}</string>
				<key>offset</key>
				<string>{0,19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,151}</string>
			</dict>
			<key>pngdata/gridskin/walleffect004.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,411},{118,112}}</string>
				<key>offset</key>
				<string>{0,18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,151}</string>
			</dict>
			<key>pngdata/gridskin/walleffect005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,704},{122,118}}</string>
				<key>offset</key>
				<string>{0,16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,151}</string>
			</dict>
			<key>pngdata/gridskin/walleffect006.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,1},{122,120}}</string>
				<key>offset</key>
				<string>{0,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,151}</string>
			</dict>
			<key>pngdata/gridskin/walleffect007.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,140},{122,121}}</string>
				<key>offset</key>
				<string>{0,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,151}</string>
			</dict>
			<key>pngdata/gridskin/walleffect008.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,285},{122,124}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,151}</string>
			</dict>
			<key>pngdata/gridskin/walleffect009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,438},{122,132}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,151}</string>
			</dict>
			<key>pngdata/gridskin/walleffect010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,144},{122,139}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,151}</string>
			</dict>
			<key>pngdata/gridskin/walleffect011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{122,141}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,151}</string>
			</dict>
			<key>pngdata/gridskin/walnuteffect001.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,564},{72,75}}</string>
				<key>offset</key>
				<string>{-1,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,175}</string>
			</dict>
			<key>pngdata/gridskin/walnuteffect002.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,458},{72,73}}</string>
				<key>offset</key>
				<string>{-2,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,175}</string>
			</dict>
			<key>pngdata/gridskin/walnuteffect003.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,819},{84,83}}</string>
				<key>offset</key>
				<string>{-2,30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,175}</string>
			</dict>
			<key>pngdata/gridskin/walnuteffect004.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,379},{94,104}}</string>
				<key>offset</key>
				<string>{-2,31}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,175}</string>
			</dict>
			<key>pngdata/gridskin/walnuteffect005.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,572},{102,130}}</string>
				<key>offset</key>
				<string>{-2,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,175}</string>
			</dict>
			<key>pngdata/gridskin/walnuteffect006.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,1},{108,137}}</string>
				<key>offset</key>
				<string>{-2,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,175}</string>
			</dict>
			<key>pngdata/gridskin/walnuteffect007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,285},{110,151}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,175}</string>
			</dict>
			<key>pngdata/gridskin/walnuteffect008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,572},{111,130}}</string>
				<key>offset</key>
				<string>{-2,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,175}</string>
			</dict>
			<key>pngdata/gridskin/walnuteffect009.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,125},{111,107}}</string>
				<key>offset</key>
				<string>{-2,26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,175}</string>
			</dict>
			<key>pngdata/gridskin/walnuteffect010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,828},{112,106}}</string>
				<key>offset</key>
				<string>{-2,26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,175}</string>
			</dict>
			<key>pngdata/gridskin/walnuteffect011.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,828},{113,105}}</string>
				<key>offset</key>
				<string>{-2,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,175}</string>
			</dict>
			<key>pngdata/gridskin/walnuteffect012.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,264},{113,106}}</string>
				<key>offset</key>
				<string>{-2,24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,175}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gridskin_later_load_3.png</string>
			<key>realTextureFileName</key>
			<string>gridskin_later_load_3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>