<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gameplaylayer/conveyor1.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,592},{75,75}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>gameplaylayer/conveyor11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,593},{75,75}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>gameplaylayer/conveyor13.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,406},{75,75}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>gameplaylayer/conveyor17.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,483},{75,75}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>gameplaylayer/conveyor19.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,485},{75,75}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>gameplaylayer/conveyor2.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,522},{72,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>gameplaylayer/conveyor22.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,571},{72,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>gameplaylayer/conveyor3.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,566},{75,75}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>gameplaylayer/conveyor4.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,491},{78,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>gameplaylayer/conveyor44.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,643},{74,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>gameplaylayer/conveyor6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,670},{78,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>gameplaylayer/conveyor66.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,679},{74,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>gameplaylayer/conveyor7.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,602},{75,75}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>gameplaylayer/conveyor8.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,489},{72,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>gameplaylayer/conveyor88.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,746},{72,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>gameplaylayer/conveyor9.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,669},{75,75}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/ice1effect001.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,493},{73,72}}</string>
				<key>offset</key>
				<string>{0,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,148}</string>
			</dict>
			<key>pngdata/gridskin/ice1effect002.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,412},{78,75}}</string>
				<key>offset</key>
				<string>{0,37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,148}</string>
			</dict>
			<key>pngdata/gridskin/ice1effect003.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,515},{78,75}}</string>
				<key>offset</key>
				<string>{0,37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,148}</string>
			</dict>
			<key>pngdata/gridskin/ice1effect004.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,439},{84,74}}</string>
				<key>offset</key>
				<string>{1,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,148}</string>
			</dict>
			<key>pngdata/gridskin/ice1effect005.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,501},{85,59}}</string>
				<key>offset</key>
				<string>{0,29}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,148}</string>
			</dict>
			<key>pngdata/gridskin/ice1effect006.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,299},{86,67}}</string>
				<key>offset</key>
				<string>{0,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,148}</string>
			</dict>
			<key>pngdata/gridskin/ice1effect007.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,362},{86,75}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,148}</string>
			</dict>
			<key>pngdata/gridskin/ice1effect008.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,410},{87,81}}</string>
				<key>offset</key>
				<string>{-1,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,148}</string>
			</dict>
			<key>pngdata/gridskin/ice1effect009.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,323},{87,89}}</string>
				<key>offset</key>
				<string>{-1,-27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,148}</string>
			</dict>
			<key>pngdata/gridskin/ice2effect001.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,563},{73,72}}</string>
				<key>offset</key>
				<string>{-1,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,164}</string>
			</dict>
			<key>pngdata/gridskin/ice2effect002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,516},{78,75}}</string>
				<key>offset</key>
				<string>{0,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,164}</string>
			</dict>
			<key>pngdata/gridskin/ice2effect003.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,489},{78,75}}</string>
				<key>offset</key>
				<string>{0,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,164}</string>
			</dict>
			<key>pngdata/gridskin/ice2effect004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,440},{84,74}}</string>
				<key>offset</key>
				<string>{1,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,164}</string>
			</dict>
			<key>pngdata/gridskin/ice2effect005.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,410},{84,60}}</string>
				<key>offset</key>
				<string>{1,37}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,164}</string>
			</dict>
			<key>pngdata/gridskin/ice2effect006.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,387},{85,67}}</string>
				<key>offset</key>
				<string>{0,23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,164}</string>
			</dict>
			<key>pngdata/gridskin/ice2effect007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,363},{85,75}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,164}</string>
			</dict>
			<key>pngdata/gridskin/ice2effect008.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,405},{86,82}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,164}</string>
			</dict>
			<key>pngdata/gridskin/ice2effect009.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,412},{87,89}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,164}</string>
			</dict>
			<key>pngdata/gridskin/wood1effect001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,750},{75,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,114}</string>
			</dict>
			<key>pngdata/gridskin/wood1effect002.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,636},{75,70}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,114}</string>
			</dict>
			<key>pngdata/gridskin/wood1effect003.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,501},{83,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,114}</string>
			</dict>
			<key>pngdata/gridskin/wood1effect004.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,234},{87,102}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,114}</string>
			</dict>
			<key>pngdata/gridskin/wood1effect005.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,230},{87,99}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,114}</string>
			</dict>
			<key>pngdata/gridskin/wood1effect006.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,139},{88,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,114}</string>
			</dict>
			<key>pngdata/gridskin/wood2effect001.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,560},{74,75}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,89}</string>
			</dict>
			<key>pngdata/gridskin/wood2effect002.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,562},{74,75}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,89}</string>
			</dict>
			<key>pngdata/gridskin/wood2effect003.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,331},{79,83}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,89}</string>
			</dict>
			<key>pngdata/gridskin/wood2effect004.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,139},{103,88}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,89}</string>
			</dict>
			<key>pngdata/gridskin/wood2effect005.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,229},{99,88}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,89}</string>
			</dict>
			<key>pngdata/gridskin/wood2effect006.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,139},{114,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,89}</string>
			</dict>
			<key>pngdata/gridskin/gasboxeffect001.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,1},{147,136}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,138}</string>
			</dict>
			<key>pngdata/gridskin/gasboxeffect002.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1},{147,136}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,138}</string>
			</dict>
			<key>pngdata/gridskin/gasboxeffect003.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,1},{147,136}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,138}</string>
			</dict>
			<key>pngdata/gridskin/gasboxeffect004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{147,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,138}</string>
			</dict>
			<key>pngdata/gridskin/gasboxeffect005.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,1},{147,136}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,138}</string>
			</dict>
			<key>pngdata/gridskin/gasboxeffect006.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,1},{147,136}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,138}</string>
			</dict>
			<key>pngdata/gridskin/gasboxeffect007.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,139},{147,136}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,138}</string>
			</dict>
			<key>pngdata/gridskin/gasboxeffect008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,141},{147,136}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,138}</string>
			</dict>
			<key>pngdata/gridskin/blisters001.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,406},{77,77}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters002.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,319},{85,85}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters003.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,139},{101,102}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters004.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,122},{110,110}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters005.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,1},{119,120}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters006.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,319},{85,85}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters007.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,139},{94,95}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,279},{90,82}}</string>
				<key>offset</key>
				<string>{-5,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters009.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,277},{91,83}}</string>
				<key>offset</key>
				<string>{-6,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters010.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,318},{93,85}}</string>
				<key>offset</key>
				<string>{-6,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters011.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,323},{93,85}}</string>
				<key>offset</key>
				<string>{-6,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters012.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,235},{95,86}}</string>
				<key>offset</key>
				<string>{-6,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters013.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,242},{96,87}}</string>
				<key>offset</key>
				<string>{-6,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/blisters014.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,229},{96,87}}</string>
				<key>offset</key>
				<string>{-6,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,125}</string>
			</dict>
			<key>pngdata/gridskin/waves001.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,645},{78,64}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves002.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,711},{78,64}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves003.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,717},{78,64}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves004.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,753},{78,64}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves005.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,496},{78,64}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves006.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,554},{78,64}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves007.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,331},{78,65}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves008.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,562},{78,64}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves009.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,567},{78,64}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves010.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,583},{78,64}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves011.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,620},{78,64}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves012.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,628},{78,64}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves013.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,411},{78,65}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves014.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,442},{78,65}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves015.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,638},{78,65}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves016.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,633},{78,64}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves017.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,637},{78,64}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/waves018.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,708},{78,64}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/wavesup001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,122},{78,14}}</string>
				<key>offset</key>
				<string>{0,-32}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/wavesup002.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,314},{78,25}}</string>
				<key>offset</key>
				<string>{0,-26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/wavesup003.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,234},{78,33}}</string>
				<key>offset</key>
				<string>{0,-22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/wavesup004.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,394},{78,37}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/wavesup005.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,219},{78,45}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/wavesup006.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,139},{78,55}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/wavesup007.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,777},{78,58}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/wavesup008.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,362},{78,60}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/wavesup009.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,718},{78,64}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>pngdata/gridskin/wavesup010.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,474},{78,67}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gridskin_later_load_1.png</string>
			<key>realTextureFileName</key>
			<string>gridskin_later_load_1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>