<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>publicimg/scalesprite1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,243},{166,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,171}</string>
			</dict>
			<key>publicimg/scalesprite2.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,354},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>publicimg/scalesprite3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{240,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{240,240}</string>
			</dict>
			<key>publicimg/scalesprite4.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,645},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>publicimg/scalesprite5.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,645},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>publicimg/scalesprite6.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,737},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>publicimg/scalesprite7.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,536},{107,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,107}</string>
			</dict>
			<key>gamelevelscene/242x80.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,406},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>gamelevelscene/ban_red_516x218.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,416},{168,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,149}</string>
			</dict>
			<key>gamelevelscene/ban_Violet_516x218.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,586},{168,146}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,149}</string>
			</dict>
			<key>publicimg/scalesprite8.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,354},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>timemodel/9gg_560x260.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,243},{106,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,109}</string>
			</dict>
			<key>timemodel/jindutiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,996},{282,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{282,18}</string>
			</dict>
			<key>sooninvite/tiao_9gg.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,1},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>sooninvite/diban2_9gg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,892},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>jctg/jctg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,892},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>jctg/jctg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,756},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>jctg/jctg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,876},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>jctg/jctg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,586},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>jctg/jctg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,756},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>jctg/jctg_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,756},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>jctg/jctg_play.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,706},{110,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,48}</string>
			</dict>
			<key>jctg/jctg_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,876},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>jctg/jctg_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,416},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>scaleplist.png</string>
			<key>realTextureFileName</key>
			<string>scaleplist.png</string>
			<key>size</key>
			<string>{526,1015}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>526</integer>
			<key>height</key>
			<integer>1015</integer>
		</dict>
	</dict>
</plist>