<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/gameplayeffect/addleveleffect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,589},{156,156}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,162}</string>
			</dict>
			<key>pngdata/gameplayeffect/addleveleffect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,998},{24,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,18}</string>
			</dict>
			<key>pngdata/gameplayeffect/addleveleffect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,580},{142,153}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,168}</string>
			</dict>
			<key>pngdata/gameplayeffect/caihongpng1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,881},{510,91}}</string>
				<key>offset</key>
				<string>{-28,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,150}</string>
			</dict>
			<key>pngdata/gameplayeffect/caihongpng10.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,734},{134,81}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gameplayeffect/caihongpng2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,788},{559,91}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,150}</string>
			</dict>
			<key>pngdata/gameplayeffect/caihongpng3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,228},{558,93}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,150}</string>
			</dict>
			<key>pngdata/gameplayeffect/caihongpng4.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,1},{561,95}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,150}</string>
			</dict>
			<key>pngdata/gameplayeffect/caihongpng5.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,98},{560,94}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,150}</string>
			</dict>
			<key>pngdata/gameplayeffect/caihongpng6.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,194},{560,93}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,150}</string>
			</dict>
			<key>pngdata/gameplayeffect/caihongpng7.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,881},{508,87}}</string>
				<key>offset</key>
				<string>{-26,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{600,150}</string>
			</dict>
			<key>pngdata/gameplayeffect/caihongpng8.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,228},{513,83}}</string>
				<key>offset</key>
				<string>{-30,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{600,150}</string>
			</dict>
			<key>pngdata/gameplayeffect/caihongpng9.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,630},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>pngdata/gameplayeffect/comboxpng2.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,422},{192,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,61}</string>
			</dict>
			<key>pngdata/gameplayeffect/comboxpng3.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,357},{192,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,61}</string>
			</dict>
			<key>pngdata/gameplayeffect/comboxpng4.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,228},{192,54}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,61}</string>
			</dict>
			<key>pngdata/gameplayeffect/comboxpng5.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,289},{192,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,61}</string>
			</dict>
			<key>pngdata/gameplayeffect/endgrideffect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,734},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>pngdata/gameplayeffect/finger.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,485},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>pngdata/gameplayeffect/gameplaystart1.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,422},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,142}</string>
			</dict>
			<key>pngdata/gameplayeffect/gameplaystart3.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,970},{47,47}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,60}</string>
			</dict>
			<key>pngdata/gameplayeffect/gameplaystart4.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,998},{24,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,18}</string>
			</dict>
			<key>pngdata/gameplayeffect/good.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{453,225}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{453,238}</string>
			</dict>
			<key>pngdata/gameplayeffect/lasereffect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,735},{69,305}}</string>
				<key>offset</key>
				<string>{3,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,330}</string>
			</dict>
			<key>pngdata/gameplayeffect/lasereffect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,806},{64,314}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,330}</string>
			</dict>
			<key>pngdata/gameplayeffect/lasereffect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,357},{63,316}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,330}</string>
			</dict>
			<key>pngdata/gameplayeffect/lasereffect4.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,566},{62,317}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,330}</string>
			</dict>
			<key>pngdata/gameplayeffect/lasereffect5.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,289},{66,319}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,330}</string>
			</dict>
			<key>pngdata/gameplayeffect/portal01.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,441},{146,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,168}</string>
			</dict>
			<key>pngdata/gameplayeffect/portal02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,1},{4,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,8}</string>
			</dict>
			<key>pngdata/gameplayeffect/portal03.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,630},{102,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,115}</string>
			</dict>
			<key>pngdata/gameplayeffect/portal04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,10},{4,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,8}</string>
			</dict>
			<key>pngdata/gameplayeffect/portal05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,19},{4,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,8}</string>
			</dict>
			<key>pngdata/gameplayeffect/prompteffect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,970},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>pngdata/gameplayeffect/prompteffect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,970},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>pngdata/gameplayeffect/refreshvictoryconditioneffect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,422},{156,156}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,162}</string>
			</dict>
			<key>pngdata/gameplayeffect/refreshvictoryconditioneffect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,974},{32,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,50}</string>
			</dict>
			<key>pngdata/gameplayeffect/refreshvictoryconditioneffect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,974},{22,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>pngdata/gameplayeffect/selectedgrid1.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,630},{82,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,83}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimg0.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,970},{36,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,42}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,974},{26,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,42}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,970},{35,41}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,42}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,970},{35,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,42}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,970},{37,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,42}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,970},{34,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,42}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,970},{36,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,42}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimg7.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,970},{35,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,42}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimg8.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,970},{36,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,42}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimg9.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,970},{36,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,42}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimgwhite1.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,974},{25,37}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimgwhite2.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,974},{32,38}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,47}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimgwhite3.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,970},{31,38}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,47}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimgwhite4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,974},{33,39}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,47}</string>
			</dict>
			<key>pngdata/gameplayeffect/stepimgwhite5.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,974},{31,38}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,47}</string>
			</dict>
			<key>pngdata/gameplayeffect/addleveleffect4.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,580},{146,149}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,229}</string>
			</dict>
			<key>pngdata/gameplayeffect/wineffectpng1.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,228},{211,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{270,270}</string>
			</dict>
			<key>pngdata/gameplayeffect/wineffectpng2.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,974},{24,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,18}</string>
			</dict>
			<key>pngdata/gameplayeffect/wineffectpng3.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,994},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>gameplaylayer/water.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,420},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameplayeffect1.png</string>
			<key>realTextureFileName</key>
			<string>gameplayeffect1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>