<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gameplaylayer/addleveleffect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,102},{24,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,18}</string>
			</dict>
			<key>publicimg/gezi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,351},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>publicimg/gezi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,351},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>pngdata/gameplayeffect/wineffectpng4.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,427},{146,149}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{220,229}</string>
			</dict>
			<key>pngdata/gameplayeffect/wineffectpng5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{578,201}}</string>
				<key>offset</key>
				<string>{-7,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{592,206}</string>
			</dict>
			<key>pngdata/gameplayeffect/wineffectpng51.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,204},{224,155}}</string>
				<key>offset</key>
				<string>{4,-29}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{271,248}</string>
			</dict>
			<key>pngdata/gameplayeffect/wineffectpng6.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,421},{167,59}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{220,79}</string>
			</dict>
			<key>pngdata/gameplayeffect/magicwand1.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,693},{86,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,85}</string>
			</dict>
			<key>pngdata/gameplayeffect/magicwand2.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,39},{31,31}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>pngdata/gameplayeffect/magicwandpng1.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,791},{229,233}}</string>
				<key>offset</key>
				<string>{-5,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,238}</string>
			</dict>
			<key>pngdata/gameplayeffect/magicwandpng2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,482},{237,238}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,238}</string>
			</dict>
			<key>pngdata/gameplayeffect/magicwandpng3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,791},{232,233}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{235,234}</string>
			</dict>
			<key>pngdata/gameplayeffect/magicwandpng4.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,791},{221,224}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{235,234}</string>
			</dict>
			<key>pngdata/gameplayeffect/magicwandpng5.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,791},{211,214}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,238}</string>
			</dict>
			<key>pngdata/gameplayeffect/magicwandpng6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,204},{201,201}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,238}</string>
			</dict>
			<key>pngdata/gameplayeffect/gridendeffectpng1.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,72},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,131}</string>
			</dict>
			<key>pngdata/gameplayeffect/gridendeffectpng10.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,580},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,131}</string>
			</dict>
			<key>pngdata/gameplayeffect/gridendeffectpng2.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,1},{36,36}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,131}</string>
			</dict>
			<key>pngdata/gameplayeffect/gridendeffectpng3.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,590},{53,54}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,131}</string>
			</dict>
			<key>pngdata/gameplayeffect/gridendeffectpng4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,407},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,131}</string>
			</dict>
			<key>pngdata/gameplayeffect/gridendeffectpng5.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,692},{88,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,131}</string>
			</dict>
			<key>pngdata/gameplayeffect/gridendeffectpng6.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,630},{102,103}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,131}</string>
			</dict>
			<key>pngdata/gameplayeffect/gridendeffectpng8.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,630},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,131}</string>
			</dict>
			<key>pngdata/gameplayeffect/gridendeffectpng9.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,575},{117,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,131}</string>
			</dict>
			<key>pngdata/gameplayeffect/great.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1},{479,200}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{482,201}</string>
			</dict>
			<key>pngdata/gameplayeffect/gameplaystart2.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,482},{146,149}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{220,229}</string>
			</dict>
			<key>pngdata/gameplayeffect/cool.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,1},{418,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{418,199}</string>
			</dict>
			<key>pngdata/gameplayeffect/countdown1.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,791},{111,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,165}</string>
			</dict>
			<key>pngdata/gameplayeffect/countdown2.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,430},{148,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,167}</string>
			</dict>
			<key>pngdata/gameplayeffect/countdown3.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,204},{145,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,169}</string>
			</dict>
			<key>pngdata/gameplayeffect/countdowngo.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,421},{368,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{368,176}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameplayeffect2.png</string>
			<key>realTextureFileName</key>
			<string>gameplayeffect2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>