<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/gridskin/addiceeffect001.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,237},{74,66}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>pngdata/gridskin/addiceeffect002.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,963},{74,60}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>pngdata/gridskin/addiceeffect003.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,137},{74,42}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>pngdata/gridskin/addiceeffect004.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,131},{74,32}}</string>
				<key>offset</key>
				<string>{0,-21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>pngdata/gridskin/addiceeffect005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,1},{73,13}}</string>
				<key>offset</key>
				<string>{0,-30}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>pngdata/gridskin/addiceeffect006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,1},{45,4}}</string>
				<key>offset</key>
				<string>{-1,-35}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect001.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,516},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect002.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,451},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect003.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,520},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect004.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,523},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect005.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,536},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect006.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,604},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect007.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,627},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect008.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,408},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect009.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,476},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect010.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,502},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect011.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,571},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect012.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,588},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect013.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,592},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect014.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,595},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect015.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,608},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect016.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,346},{73,75}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect017.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,331},{78,75}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect018.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,676},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect019.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,699},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,721},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect021.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,480},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect022.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,548},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect023.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,244},{90,85}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect024.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,137},{112,104}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect025.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,252},{114,102}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect026.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,352},{97,91}}</string>
				<key>offset</key>
				<string>{2,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect027.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,244},{95,83}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect028.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,268},{70,82}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect029.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,579},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect030.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,643},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect031.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,660},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect032.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,664},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect033.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,404},{70,77}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect034.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,667},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect035.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,680},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect036.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,748},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect037.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,771},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect038.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,793},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect039.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,552},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect040.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,620},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect041.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,651},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect042.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,715},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/egg2effect043.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,732},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,122}</string>
			</dict>
			<key>pngdata/gridskin/gem001.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,207},{46,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>pngdata/gridskin/gem002.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,333},{46,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>pngdata/gridskin/gem003.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,255},{46,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>pngdata/gridskin/gem004.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,138},{43,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>pngdata/gridskin/gem005.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,214},{42,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>pngdata/gridskin/gem006.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,294},{46,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>pngdata/gridskin/gem007.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,177},{45,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>pngdata/gridskin/grass001.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,140},{37,37}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,105}</string>
			</dict>
			<key>pngdata/gridskin/grass002.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,213},{53,51}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,105}</string>
			</dict>
			<key>pngdata/gridskin/grass003.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,843},{73,69}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,105}</string>
			</dict>
			<key>pngdata/gridskin/grass004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,621},{98,89}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,105}</string>
			</dict>
			<key>pngdata/gridskin/grass005.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,138},{107,97}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,105}</string>
			</dict>
			<key>pngdata/gridskin/grass006.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,243},{106,97}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,105}</string>
			</dict>
			<key>pngdata/gridskin/grass007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,140},{105,94}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,105}</string>
			</dict>
			<key>pngdata/gridskin/grass008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,236},{103,93}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,105}</string>
			</dict>
			<key>pngdata/gridskin/grass009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,331},{101,94}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,105}</string>
			</dict>
			<key>pngdata/gridskin/grass010.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,237},{99,96}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,105}</string>
			</dict>
			<key>pngdata/gridskin/grass011.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,335},{97,96}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,105}</string>
			</dict>
			<key>pngdata/gridskin/grass012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,427},{95,97}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,105}</string>
			</dict>
			<key>pngdata/gridskin/grass013.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,342},{95,97}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,105}</string>
			</dict>
			<key>pngdata/gridskin/grass014.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,410},{95,97}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,105}</string>
			</dict>
			<key>pngdata/gridskin/grass015.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,433},{95,97}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,105}</string>
			</dict>
			<key>pngdata/gridskin/grass016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,524},{95,97}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,105}</string>
			</dict>
			<key>pngdata/gridskin/grass017.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,439},{95,97}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,105}</string>
			</dict>
			<key>pngdata/gridskin/grass018.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,507},{95,97}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,105}</string>
			</dict>
			<key>pngdata/gridskin/grass019.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,313},{95,99}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,105}</string>
			</dict>
			<key>pngdata/gridskin/grass020.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,530},{95,97}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,105}</string>
			</dict>
			<key>pngdata/gridskin/grid21png0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,624},{67,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,68}</string>
			</dict>
			<key>pngdata/gridskin/grid21png0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,694},{67,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,68}</string>
			</dict>
			<key>pngdata/gridskin/grid21png0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,806},{71,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,68}</string>
			</dict>
			<key>pngdata/gridskin/grid21png0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,752},{76,68}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,68}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomseffect001.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,356},{95,88}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomseffect002.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,239},{144,105}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomseffect003.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,123},{167,114}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomseffect004.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1},{167,120}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomseffect005.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1},{166,128}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomseffect006.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,1},{166,135}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomseffect007.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,1},{165,134}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomseffect008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{164,137}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomseffect009.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,1},{163,119}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomseffect010.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,122},{160,120}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomseffect011.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,131},{128,119}}</string>
				<key>offset</key>
				<string>{4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect001.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,881},{68,68}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect002.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,764},{68,69}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect003.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,810},{69,69}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect004.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,830},{69,69}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect005.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,892},{69,69}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect006.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,794},{68,69}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect007.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,901},{68,68}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect008.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,946},{64,65}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect009.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,764},{68,68}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect010.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,820},{70,72}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect011.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,624},{70,71}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect012.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,858},{68,69}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect013.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,766},{67,68}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect014.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,875},{68,69}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect015.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,723},{69,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect016.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,787},{69,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect017.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,804},{69,70}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect018.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,834},{67,67}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect019.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,928},{65,65}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect020.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,864},{66,67}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect021.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,876},{68,69}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect022.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,426},{74,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect023.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,496},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect024.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,421},{74,73}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect025.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,446},{73,72}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect026.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,692},{71,70}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect027.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,370},{70,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect028.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,914},{70,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect029.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,936},{70,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect030.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,696},{70,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect031.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,945},{65,65}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect032.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,951},{61,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect033.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,834},{61,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect034.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,835},{61,62}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect035.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,442},{72,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect036.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,736},{77,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect037.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,329},{83,73}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect038.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,346},{78,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect039.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,739},{75,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>pngdata/gridskin/cherryblossomsupeffect040.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,865},{73,69}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gridskin_later_load_2.png</string>
			<key>realTextureFileName</key>
			<string>gridskin_later_load_2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>