<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/gridskin/grid7effect001.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,426},{115,117}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gridskin/grid7effect002.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,545},{113,115}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gridskin/grid7effect003.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,308},{116,116}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gridskin/grid7effect004.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,545},{117,113}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gridskin/grid7effect005.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,1},{118,116}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gridskin/grid7effect006.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,426},{112,116}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gridskin/grid7effect007.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,906},{108,114}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gridskin/grid7effect008.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,727},{114,114}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gridskin/grid7effect009.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,187},{116,119}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gridskin/grid7effect010.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,1},{112,121}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,921},{65,70}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,400},{67,67}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,255},{69,62}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,469},{67,67}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,678},{64,70}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,824},{61,73}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,942},{64,72}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,797},{66,70}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,878},{67,69}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,806},{67,70}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,724},{66,71}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,635},{65,72}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,949},{65,71}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,949},{65,71}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,184},{65,70}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,256},{65,70}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,328},{65,70}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,184},{65,70}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,869},{65,71}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,115},{65,70}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1},{65,70}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,781},{68,67}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,182},{71,62}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,73},{71,62}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,1},{70,62}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,326},{69,62}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,727},{60,89}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,121},{61,88}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,664},{61,88}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,664},{61,88}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,662},{60,89}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,843},{61,88}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0033.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,843},{61,88}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0034.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,906},{61,88}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0035.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,544},{60,89}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0036.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,256},{65,70}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0037.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,538},{68,66}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0038.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,473},{70,58}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0039.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,899},{63,70}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0040.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,397},{57,74}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0041.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,750},{62,72}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0042.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,608},{68,66}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0043.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,851},{67,68}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0044.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,709},{66,70}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7png0045.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,328},{65,70}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>
			<key>pngdata/gridskin/grid7upeffect001.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,927},{84,95}}</string>
				<key>offset</key>
				<string>{-6,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gridskin/grid7upeffect002.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,187},{1,1}}</string>
				<key>offset</key>
				<string>{74,-74}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gridskin/grid7upeffect003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1019},{1,1}}</string>
				<key>offset</key>
				<string>{74,-74}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gridskin/grid7upeffect004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,932},{106,85}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gridskin/grid7upeffect005.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,932},{107,81}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gridskin/grid7upeffect006.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,927},{101,73}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gridskin/grid7upeffect007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1022},{1,1}}</string>
				<key>offset</key>
				<string>{74,-74}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gridskin/grid7upeffect008.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,724},{80,61}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gridskin/grid7upeffect009.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,121},{103,55}}</string>
				<key>offset</key>
				<string>{-4,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gridskin/grid7upeffect010.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,1019},{1,1}}</string>
				<key>offset</key>
				<string>{74,-74}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>pngdata/gridskin/grid7effect020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,191},{184,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>pngdata/gridskin/grid7effect011.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,190},{184,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>pngdata/gridskin/grid7effect012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,377},{180,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>pngdata/gridskin/grid7effect013.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,376},{177,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>pngdata/gridskin/grid7effect014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,562},{180,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>pngdata/gridskin/grid7effect015.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,1},{184,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>pngdata/gridskin/grid7effect016.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,562},{184,177}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>pngdata/gridskin/grid7effect017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{179,188}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>pngdata/gridskin/grid7effect018.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,748},{177,184}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>pngdata/gridskin/grid7effect019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,747},{180,183}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gridskin4.png</string>
			<key>realTextureFileName</key>
			<string>gridskin4.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>