<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/tree/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,578},{80,85}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,86}</string>
			</dict>
			<key>pngdata/tree/png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,464},{47,36}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,38}</string>
			</dict>
			<key>pngdata/tree/png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,330},{63,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,33}</string>
			</dict>
			<key>pngdata/tree/png12.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,338},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>
			<key>pngdata/tree/png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,544},{38,42}}</string>
				<key>offset</key>
				<string>{-5,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>pngdata/tree/png14.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,465},{35,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,36}</string>
			</dict>
			<key>pngdata/tree/png15.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,231},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>
			<key>pngdata/tree/png16.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,332},{28,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,28}</string>
			</dict>
			<key>pngdata/tree/png17.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,393},{26,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,29}</string>
			</dict>
			<key>pngdata/tree/png18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,320},{21,24}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,25}</string>
			</dict>
			<key>pngdata/tree/png19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,420},{20,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,26}</string>
			</dict>
			<key>pngdata/tree/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,258},{10,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,11}</string>
			</dict>
			<key>pngdata/tree/png20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,392},{19,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,28}</string>
			</dict>
			<key>pngdata/tree/png21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,274},{44,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,17}</string>
			</dict>
			<key>pngdata/tree/png22.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,395},{66,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,31}</string>
			</dict>
			<key>pngdata/tree/png23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,346},{44,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,13}</string>
			</dict>
			<key>pngdata/tree/png24.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,186},{230,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,164}</string>
			</dict>
			<key>pngdata/tree/png25.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,572},{111,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,120}</string>
			</dict>
			<key>pngdata/tree/png26.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,338},{33,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,193}</string>
			</dict>
			<key>pngdata/tree/png27.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,502},{41,40}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,41}</string>
			</dict>
			<key>pngdata/tree/png28.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,663},{39,86}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,87}</string>
			</dict>
			<key>pngdata/tree/png29.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,186},{49,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,151}</string>
			</dict>
			<key>pngdata/tree/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,244},{10,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>
			<key>pngdata/tree/png30.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,692},{38,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,87}</string>
			</dict>
			<key>pngdata/tree/png31.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,427},{41,153}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,154}</string>
			</dict>
			<key>pngdata/tree/png32.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,779},{39,71}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,72}</string>
			</dict>
			<key>pngdata/tree/png33.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,578},{45,83}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,84}</string>
			</dict>
			<key>pngdata/tree/png34.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,584},{40,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,41}</string>
			</dict>
			<key>pngdata/tree/png35.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,463},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,31}</string>
			</dict>
			<key>pngdata/tree/png36.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,465},{31,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,31}</string>
			</dict>
			<key>pngdata/tree/png37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,446},{25,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,21}</string>
			</dict>
			<key>pngdata/tree/png38.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,452},{19,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,27}</string>
			</dict>
			<key>pngdata/tree/png39.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,362},{29,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,26}</string>
			</dict>
			<key>pngdata/tree/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,321},{104,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,123}</string>
			</dict>
			<key>pngdata/tree/png40.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,421},{24,29}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,30}</string>
			</dict>
			<key>pngdata/tree/png41.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,494},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>pngdata/tree/png42.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,473},{19,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,21}</string>
			</dict>
			<key>pngdata/tree/png43.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,209},{10,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,22}</string>
			</dict>
			<key>pngdata/tree/png44.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,186},{21,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,13}</string>
			</dict>
			<key>pngdata/tree/png45.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,745},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>pngdata/tree/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,418},{141,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,172}</string>
			</dict>
			<key>pngdata/tree/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,209},{63,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,20}</string>
			</dict>
			<key>pngdata/tree/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,514},{18,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,17}</string>
			</dict>
			<key>pngdata/tree/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,465},{28,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,34}</string>
			</dict>
			<key>pngdata/tree/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,293},{23,37}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,38}</string>
			</dict>
			<key>pngdata/stepoveralert/pet1000png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,456},{60,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,116}</string>
			</dict>
			<key>pngdata/stepoveralert/pet1000png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,660},{82,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,53}</string>
			</dict>
			<key>pngdata/stepoveralert/pet1000png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,692},{82,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,53}</string>
			</dict>
			<key>pngdata/stepoveralert/pet1000png12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{338,318}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,320}</string>
			</dict>
			<key>pngdata/stepoveralert/pet1000png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,427},{68,157}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,158}</string>
			</dict>
			<key>pngdata/stepoveralert/pet1000png14.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,531},{67,157}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,158}</string>
			</dict>
			<key>pngdata/stepoveralert/pet1000png15.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,209},{245,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{247,63}</string>
			</dict>
			<key>pngdata/stepoveralert/pet1000png16.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,187},{205,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,141}</string>
			</dict>
			<key>pngdata/stepoveralert/pet1000png17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,321},{205,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,141}</string>
			</dict>
			<key>pngdata/stepoveralert/pet1000png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,464},{148,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,156}</string>
			</dict>
			<key>pngdata/stepoveralert/pet1000png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,614},{148,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,156}</string>
			</dict>
			<key>pngdata/stepoveralert/pet1000png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,330},{199,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,135}</string>
			</dict>
			<key>pngdata/stepoveralert/pet1000png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,1},{184,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,228}</string>
			</dict>
			<key>pngdata/stepoveralert/pet1000png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,1},{183,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,228}</string>
			</dict>
			<key>pngdata/stepoveralert/pet1000png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,1},{206,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,85}</string>
			</dict>
			<key>pngdata/stepoveralert/pet1000png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,1},{290,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,142}</string>
			</dict>
			<key>pngdata/stepoveralert/pet1000png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,293},{283,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{285,126}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>treeeffect.png</string>
			<key>realTextureFileName</key>
			<string>treeeffect.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>