<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sign/dailyreward.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,1},{443,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{443,98}</string>
			</dict>
			<key>sign/day1.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,984},{76,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,33}</string>
			</dict>
			<key>sign/day2.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,540},{80,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,33}</string>
			</dict>
			<key>sign/day3.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,622},{80,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,33}</string>
			</dict>
			<key>sign/day4.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,634},{80,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,33}</string>
			</dict>
			<key>sign/day5.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,914},{80,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,33}</string>
			</dict>
			<key>sign/day6.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,914},{80,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,33}</string>
			</dict>
			<key>sign/day7.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,900},{80,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,33}</string>
			</dict>
			<key>sign/getalready.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,852},{54,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,52}</string>
			</dict>
			<key>sign/lingquanniu-.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,716},{242,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{242,120}</string>
			</dict>
			<key>sign/selecthole.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,906},{63,63}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>sign/share-it.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,522},{110,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,20}</string>
			</dict>
			<key>sign/singget.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,623},{99,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,50}</string>
			</dict>
			<key>sign/Today.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,449},{89,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,37}</string>
			</dict>
			<key>daymission/dm_anniu_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,716},{196,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,101}</string>
			</dict>
			<key>daymission/dm_anniu_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,702},{196,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,101}</string>
			</dict>
			<key>daymission/dm_anniu_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,702},{196,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,101}</string>
			</dict>
			<key>daymission/dm_compleleall.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,1},{446,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{446,37}</string>
			</dict>
			<key>daymission/dm_dailymissions.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{453,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{453,156}</string>
			</dict>
			<key>daymission/dm_GET.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,716},{111,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,54}</string>
			</dict>
			<key>daymission/dm_GET_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,716},{111,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,54}</string>
			</dict>
			<key>daymission/dm_GET_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,623},{111,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,54}</string>
			</dict>
			<key>daymission/dm_gou.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,792},{92,69}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,70}</string>
			</dict>
			<key>daymission/dm_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,772},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>daymission/dm_icon_.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,623},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>daymission/dm_Invite.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,948},{139,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,55}</string>
			</dict>
			<key>daymission/dm_jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,886},{38,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,32}</string>
			</dict>
			<key>daymission/dm_Play.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,921},{112,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,61}</string>
			</dict>
			<key>daymission/dm_Send.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,792},{127,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,54}</string>
			</dict>
			<key>daymission/dm_tiao_o.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,1},{620,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{620,50}</string>
			</dict>
			<key>daymission/dm_jindu.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,264},{256,18}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{262,24}</string>
			</dict>
			<key>daymission/dm_jindudi.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,1},{261,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{262,24}</string>
			</dict>
			<key>daymission/dm_request.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,960},{161,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,55}</string>
			</dict>
			<key>pngdata/missiongift/redgf_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,1003},{13,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>pngdata/missiongift/redgf_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,623},{91,98}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,107}</string>
			</dict>
			<key>pngdata/missiongift/redgf_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,675},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,38}</string>
			</dict>
			<key>pngdata/missiongift/redgf_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,675},{26,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,25}</string>
			</dict>
			<key>pngdata/missiongift/redgf_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,886},{26,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,30}</string>
			</dict>
			<key>pngdata/missiongift/redgf_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,704},{67,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,57}</string>
			</dict>
			<key>pngdata/missiongift/redgf_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,623},{72,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,50}</string>
			</dict>
			<key>pngdata/missiongift/redgf_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,984},{69,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,35}</string>
			</dict>
			<key>pngdata/missiongift/redgf_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,900},{61,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,48}</string>
			</dict>
			<key>pngdata/missiongift/redgf_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,675},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>pngdata/missiongift/redgf_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,772},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>pngdata/missiongift/redgf_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,677},{22,80}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,86}</string>
			</dict>
			<key>pngdata/missiongift/redgf_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,852},{93,53}}</string>
				<key>offset</key>
				<string>{2,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,76}</string>
			</dict>
			<key>pngdata/missiongift/redgf_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,772},{77,78}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,108}</string>
			</dict>
			<key>pngdata/missiongift/redgf_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,675},{35,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>pngdata/missiongift/redgf_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,677},{30,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,24}</string>
			</dict>
			<key>pngdata/missiongift/redgf_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,921},{22,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,26}</string>
			</dict>
			<key>pngdata/missiongift/redgf_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,677},{27,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,24}</string>
			</dict>
			<key>pngdata/missiongift/redgf_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,907},{75,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,75}</string>
			</dict>
			<key>pngdata/missiongift/redgf_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,623},{116,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,92}</string>
			</dict>
			<key>daymission/dm_gift_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,623},{109,77}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,83}</string>
			</dict>
			<key>daymission/dm_icon11.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,701},{86,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,89}</string>
			</dict>
			<key>daymission/dm_share.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,623},{138,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,52}</string>
			</dict>
			<key>daymission/dm_collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,949},{160,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_later_load_1.png</string>
			<key>realTextureFileName</key>
			<string>ui_later_load_1.png</string>
			<key>size</key>
			<string>{1022,1018}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>1018</integer>
		</dict>
	</dict>
</plist>